*{
    padding: 0;
    margin: 0;
}
canvas{
    background: #eeee;
    display: block;
    margin: auto;
    border: solid;
}
div{
    margin: 0%;
    background-color:darkslategray;
}
#playerInfo{
    color: white;
}
.column
{
    padding-left: 10%;
    float: left;
}